
// Tamaño de Media Queries
$mobile : 480px;
$tablet: 768px;
$desktop: 1024px;

$extraSmall: 576px; // <576px
$small: 576px; // >576px
$medium: 768px; // >768px
$large: 992px; // >992
$extraLarge: 1200px; // >1200px

$font-family: 'Poppins', sans-serif;
$img-bg: './assets/img/natural.jpeg';


// Colores
$primario: #005b9f;
$secundario:#003f8c;
$terciario: #009045;
$alternativo: #ce6b00;
$gris: #eeeeee;
$grisOscuro: #373737;
$blanco: #FFFFFF;

// colores

$white:#FFFFFF;
$black:#000000;

$green-1:#6A8C1F;
$green-2:#28a745;
$green-3:#218838;

$gray-1: #8E8E8E;
$gray-2: #616575;
$gray-3: #f8f8f8;

$red: #dc3545;
$red-2: #ff0000;

$bg-nav: #2d6886;
